a:hover , .btn-custom {
    text-decoration: none;
    border-radius: 30px;
}


.icon {
    height: 60px;        
}

#one, #videointro {
    background-color: #011627;
}

.featuresintro {
    color: #21b2a6;
}

/*Btn bottom Landing*/
#cta > div > ul > li > a {
    margin: 50px;
    border-radius: 30px;
}

/*Fixing video position*/
#video-intro {
    padding:  20px;
}

#two {
    background-color: aliceblue;
}

.p-two {
    color: #011627;
}

#play-btn > i {
    font-size: 3em;
}

/*pricing css*/
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT     
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #011627;
    opacity: 0.9;
}

.db-bk-color-two {
    background-color: #011627;
    opacity: 0.9;
}

.db-bk-color-three {
    background-color: #011627;
    opacity: 0.9;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #21b2a6;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }



/*Fixing button pricing*/


#page-wrapper > div > div.row.db-padding-btm.db-attached > div:nth-child(1) > div > div > div.pricing-footer > a, #page-wrapper > div > div.row.db-padding-btm.db-attached > div:nth-child(3) > div > div > div.pricing-footer > a, #page-wrapper > div > div.row.db-padding-btm.db-attached > div:nth-child(2) > div > div > div.pricing-footer > a {
    
background-color: red;
    border-radius: 30px;
}

.btn-custom-1 {
    background-color: black;
    color: #21b2a6;;
    border: 1px solid #21b2a6;
}

.btn-custom-1:hover {
    background-color: black;
    color: red;
    border: 1px solid red;
}

/*Fixing features bg*/
.spotlight:nth-child(1) {

    background-color: #21b2a6;

    background-color: #58C9B9;

    opacity: 0.9;
}
.spotlight:nth-child(2) {
    background-color: #21b2a6;
    opacity: 0.9;
}
.spotlight:nth-child(3) {

    background-color: #21b2a6;

    background-color: #58C9B9;

    opacity: 0.9;
}

/*Fixing logo*/
#logo {
    color: white;
}

/*fixing modal header for video*/

#GSCCModal > div > div > div.modal-header {
    height: 2em;

}

.div.modal-header {
    height: 20px;

}

